<html>
<head>
<title>Upload Multiple File Request Page</title>
</head>
<body>
	<form method="POST" action="uploadMultipleFile"
		enctype="multipart/form-data">
		File1 to upload: <input type="file" name="logo"><br />
		<select
			name="uploadType">
			<option value="Organisation">Organisation</option>
			<option value="pcbcalendar">PCB Calendar</option>
			<option value="memberdetails">Member Details</option>
			<option value="ratecard">Rate Card</option>
			<option value="offshoreleavetracker">Offshore Leave Tracker</option>
			
		</select> <input type="submit" value="Upload"> Press here to upload the
		file!
	</form>
</body>
</html>
